{
    "extends": "eslint:recommended",
    "env": {
      "node": true,
      "browser": true
    },
    "parserOptions": {
      "ecmaVersion": 6
    },
    "rules": {
        "comma-dangle": ["error", "never"],
        "indent": ["error", 4],
        "no-cond-assign": ["error", "always"],
        "semi": ["error", "always"],
        "no-undef": "error"
    }
}
